body{
    background-color: #e6e6e6;
}

.home_img{
    margin-left:1vh;
    max-height:13vh;
    max-width:13vh;
    height:6vh;
}

#form-pergunta{
    margin-top: 5%;
}

#form-resposta{
    margin-top: 1%;
}

#home-pergunta{
    margin-top: 1%;
}